*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.contenedor__principal{
    text-align: center;
    margin: 0 auto;    
    
}

.contenedor__principal .contenedor__hijo{
    padding: 30px 150px;
}

.contenedor__principal  .contenedor__hijo img{
    width: 200px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 10px 10px 1px rgba(0, 0, 0, 0.6);
}


.contenedor__principal  .contenedor__hijo img:hover{
    box-shadow: 0 10px 10px 1px rgba(0, 157, 235, 0.6);
    cursor: pointer;
}


.contenedor__principal .contenedor__hijo h1 a{
    text-decoration: none;
    color: rgb(27, 22, 22);
}

.contenedor__principal .contenedor__hijo h1 a:hover{
    color: rgba(0, 157, 235, 0.6);
}